<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Stay in touch</h3>
    <p style="text-align:center">
      Hi, I'm <a href="http://{{ site.author.url }}">Hampton Paulk</a>. Open Make is a Personal Ideation of Maker Based Education &amp; a work in progress.
    </p>
    <hr/>
    <p style="text-align:center">
      <a href="https://github.com/hamptonpaulk/openmake"><small>View supporting documents on</small> GitHub</a>
    </p>
  </div>
</section>
